<!DOCTYPE html>
<html>
  <body>

    <h2>Edit teacher data</h2>

    <form method="post">
      <input type="hidden" name="teacherId" value="<%= info.id %>">
      First name:<br>
      <input type="text" name="first_name" value="<%= info.first_name %>">
      <br>
      Last name:<br>
      <input type="text" name="last_name" value="<%= info.last_name %>">
      <br>
      Email:<br>
      <input type="text" name="email" value="<%= info.email %>"><br>
      <select name="subject_id">
          <% subjectInfo.forEach(function(subject) {%>
       <option value=<%=subject.id%>><%= subject.subject_name %></option>
       <%})%>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
