<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Data</title>
  </head>
  <body>
    <h1>Edit Teacher Data</h1>
    <h3><a href="/teacher">show all teacher</a></h3>
      <form action="/teacher/edit/<%= teacherData.id %>" method="post">
        <p>First Name:</p>
        <input type="text" name="first_name" value="<%= teacherData.first_name %>">
        <p>Last Name:</p>
        <input type="text" name="last_name" value="<%= teacherData.last_name %>">
        <p>Email:</p>
        <input type="text" name="email" value="<%= teacherData.email %>"><br>
        <select name="SubjectId">
        <% subjectList.forEach((subject) => { %>
          <option value="<%= subject.id %>"><%= subject.subject_name %></option>
        <% }) %>
        </select><br>
        <input type="submit" onclick="alert('Edit Data Success!')" value="Save">
      </form>
  </body>
</html>
