<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <h2 style="text-align: center; margin-top: 300px">EDIT TEACHERS DATA</h2>
    <form style="text-align: center" action="/teachers/edit/<%= teacherData.id %>" method="POST">
        First Name <br> <input style="width: 50%" type="text" name="first_name" value="<%= teacherData.first_name %>"> <br>
        Last Name <br> <input style="width: 50%" type="text" name="last_name" value="<%= teacherData.last_name %>"> <br>
        Email <br> <input style="width: 50%" type="text" name="email" value="<%= teacherData.email %>"> <br>
        SubjectId <br> <input style="width: 50%" type="text" name="SubjectId" value="<%= teacherData.SubjectId %>"> <br>
        <input style="width: 30%; background-color: blue;" type="submit" onclick="return alert('Data edited!')" value="Edit teacher">
    </form>
</body>
</html>