<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <% include ../partials/header %>
      <div class="row">

        <div class="col-md-6">

          <div class="well">

            <h3>Are you sure to delete this student?</h3>

            <br>

            <form class="form" action="/students/<%= student.id %>/delete" method="POST">

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" value="<%= student.first_name %>" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" value="<%= student.last_name %>" class="form-control" disabled>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" value="<%= student.gender %>" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="text" name="birthday" value="<%= student.birthday %>" class="form-control" disabled>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" value="<%= student.email %>" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" value="<%= student.phone %>" class="form-control" disabled>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="/students" class="btn btn-default">Cancel</a>
              </div>

            </form>

          </div>

        </div>

      </div>
  </div>
</body>

<footer>
  <% include ../partials/footer %>
</footer>

</html>
