<%- include('../partials/header.ejs') %>

<div>
  <h1 class="text-center">Students Data</h1>
  <h5 class="text-center"><a href="/">Homepage</a></h5>
  <h5 class="text-center"><a href="/students/add">Add Student</a></h5>

  <table class="table">
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <% students.forEach(student => { %>
      <tr>
        <td><%=student.id%></td>
        <td><%=student.first_name%></td>
        <td><%=student.last_name%></td>
        <td><%=student.email%></td>
        <td>
        <a href="students/edit/<%= student.id %>" class="btn btn-primary">Edit</a>
        <a href="students/delete/<%= student.id %>" class="btn btn-danger" onclick="return confirm('delete this student?')">Delete</a>
        </td>
      </tr>
    <% }) %>

  </table>
</div>

<%- include('../partials/footer.ejs') %>