<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <% include ../partials/header %>
      <h2>
        Subjects
        <a href="/subjects/add" class="btn btn-primary pull-right">Add Subject</a>
      </h2>
      <hr>
      <% if (subjects.length) { %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Subject Name</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% subjects.forEach((subject, index) => { %>
              <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td>
                  <%= subject.name %>
                </td>
                <td class="text-right">
                  <a href="/subjects/<%= subject.id %>/view" class="btn btn-sm btn-info">View Teachers</a>
                  <a href="/subjects/<%= subject.id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                  <a href="/subjects/<%= subject.id %>/delete" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <p class="text-muted text-center">No data...</p>
          <% } %>
  </div>
</body>

<footer>
  <% include ../partials/footer %>
</footer>

</html>
